:root {
  /* colors */
  --dark-orange: #F07605;
  --light-orange: #FFF1E5;
  --medium-orange: #FBD2AD;
  --white: #FFFEFC;
  --tag-green: #D2E4D0;
  --tag-orange: #FEE3B7;
  --tag-blue: #CEDDE6;
	--more-tags-orange: #f7ba81;
  --text-black: #332D28;
  --light-grey: #F2F2F2;

  /* font size */
	--add-event-title: bold 32px "Roboto", sans-serif;
  --page-heading: bold 24px "Roboto", sans-serif;
  --page-subheading: bold 20px "Roboto", sans-serif;
  --event-title: normal 16px "Roboto", sans-serif;
  --add-event-field: normal 16px "Roboto", sans-serif;
  --header-button: normal 16px "Roboto", sans-serif;
  --description: normal 12px "Roboto", sans-serif;
  --button: bold 16px "Roboto", sans-serif;
  --add-event-tags: normal 16px "Roboto", sans-serif;
  --event-tags: normal 12px "Roboto", sans-serif;
  --log-in-labels: normal 16px "Roboto", sans-serif;
  --friend-cards: normal 14px "Roboto", sans-serif;
	--sign-up-tags: normal 20px "Roboto", sans-serif;
	--profile-tabs: bold 15px "Roboto", sans-serif;
	--header-dropdown: normal 16px "Roboto", sans-serif;
	--page-title-size: normal 100px 'Jomhuria';
	--log-in-input: 20px "Roboto", sans-serif;
  --toggle-button: normal 18px "Roboto", sans-serif;;

	--profile-name: bold 20px "Roboto", sans-serif;
	--profile-bullet: bold 16px "Roboto", sans-serif;
	--profile-friends: bold 16px "Roboto", sans-serif;
  --profile-field: normal 16px "Roboto", sans-serif;
	--profile-tags: normal 16px "Roboto", sans-serif;
	--profile-org-search-field: normal 16px "Roboto", sans-serif;

	--trending-events-arrow: bold 16px "Roboto", sans-serif;
	--dashboard-category: normal 20px "Roboto", sans-serif;

	--view-event-details: bold 16px "Roboto", sans-serif;

	/* border */
  --border-box: 1px solid #D9D9D9;
  --save-event-border: 1px solid #F07605;
}