:root {
    /* colors */
    --dark-orange: #F07605;
    --light-orange: #FFF1E5;
    --medium-orange: #FBD2AD;
    --white: #FFFEFC;
    --tag-green: #D2E4D0;
    --tag-orange: #FEE3B7;
    --tag-blue: #CEDDE6;
    --text-black: #332D28;
    --border-grey: #D9D9D9;

    /* font size */
    --page-heading: bold 24px "Roboto", sans-serif;
    --event-title: normal 20px "Roboto", sans-serif;
    --description: normal 12px "Roboto", sans-serif;
    --sign-up-tags: bold 20px "Roboto", sans-serif;
    --event-tags: bold 12px "Roboto", sans-serif;
    --page-title-size: normal 100px 'Jomhuria', cursive;
    --log-in-labels: 16px "Roboto", sans-serif;

    /* border width */
    --border-width: 1px;
  }
